@import "../../styles/variables";

.logoContainer {
    img {
        width: 150px;
        height: auto;
    }
}
.nav {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-size: .8rem;

    .navLink {
        text-transform: uppercase;
        font-weight: $font-general-weight-semibold;
        margin: 0 1rem;
        letter-spacing: .2rem;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

        &:hover {
            color: $Blue;
        }
    }
}