@import "../../styles/variables";

.stickyButton {
    position: fixed;
    bottom: 60px;
    right: 60px;
    display: block;
    -webkit-box-shadow: 5px 4px 15px 2px rgba(94, 94, 94, 0.4); 
    box-shadow: 5px 4px 15px 2px rgba(94,94,94,0.4);
    color: $White;
    border-radius: $border-radius-circle;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;

    &:hover{
        color: $Blue;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}