@import "variables";
$theme-colors: (
        'primary': $Blue,
        'secondary': $Orange,
        'success': $Green,
        'info': #ff7d50,
        'warning': #ffbe0b,
        'danger': $Red,
        'light': $White,
        'dark': $Black,
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: $font-family-open-sans;
    background-color: $Light_Gray;
}

.pl-lg {
    padding-left: 8rem;
}

.pr-md {
    padding-right: 5rem;
}

.pr-sm {
    padding-right: 2rem;
}

.carousel-img {
    width: auto !important;  
    height: 60vh !important;
}